// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.registered-rooms-list {
  width: 100%;
  border-collapse: collapse;
}

.registered-rooms-list thead {
  border-bottom: 1px solid black;
}

.registered-rooms-list thead th {
  text-align: left;
}

.registered-rooms-list tbody tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.registered-rooms-list a {
  text-decoration: none;
}

.room-search-form {
  display: flex;
  justify-content: center;
  gap: 0 5px;
}

.room-search-bar {
  padding: 10px;
  background-color: gainsboro;
}

.searched-rooms-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searched-rooms-list>li {
  background-color: bisque;
  margin: 20px;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden; // はみ出した子要素を隠す
}

.searched-rooms-list>li>img {
  width: 100%;
  height: 40%;
}
